@model Tarea
@{
    ViewData["Title"] = "Tareas - Crear";
}

<h1>Crear Tarea</h1>

<div class="@ViewBag.ClaseAlert" role="alert">
    @ViewBag.Mensaje
</div>

<div class="row">
    <div>
        <form asp-action="Crear" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Descricion -->
            <div class="form-group col-md-12">
                <label asp-for="Descripcion" class="control-label"></label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="bi bi-card-text"></span></div>
                    </div>
                    <input asp-for="Descripcion" class="form-control" />
                </div>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <!-- Colaborador -->
            <div class="form-group col-md-6">
                <label asp-for="ColaboradorId" class="control-label"></label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="bi bi-person"></span></div>
                    </div>
                    <select asp-for="ColaboradorId" asp-items="ViewBag.ColaboradorId" class="form-select form-select-sm">
                        <option value="0">--Seleccionar--</option>
                    </select>
                </div>
            </div>

            <!-- Estado y Prioridad -->
            <div class="form-row col-md-12">
                <div class="form-group col-md-3">
                    <label asp-for="Estado" class="control-label"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="bi bi-toggles"></span></div>
                        </div>
                        <select asp-for="Estado" asp-items="ViewBag.Estado" class="form-control"></select>
                    </div>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="Prioridad" class="control-label"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="bi bi-bar-chart-steps"></span></div>
                        </div>
                        <select asp-for="Prioridad" asp-items="ViewBag.Prioridad" class="form-control"></select>
                    </div>
                    <span asp-validation-for="Prioridad" class="text-danger"></span>
                </div>
            </div>
            
            <!-- Fechas: Inicio y Fin -->
            <div class="form-row col-md-12">
                <div class="form-group col-md-3">
                    <label asp-for="FechaInicio" class="control-label"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="bi bi-calendar-date"></span></div>
                        </div>
                        <input asp-for="FechaInicio" value="@DateTime.Today.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                    </div>
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="FechaFin" class="control-label"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="bi bi-calendar-date"></span></div>
                        </div>
                        <input asp-for="FechaFin" value="@DateTime.Today.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                    </div>
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>
            </div>

            <!-- Notas -->
            <div class="form-group col-md-12">
                <label asp-for="Notas" class="control-label"></label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="bi bi-card-list"></span></div>
                    </div>
                    <textarea asp-for="Notas" class="form-control"></textarea>
                </div>
            </div>

            <br />
            <div class="form-group col-md-12">
                <input type="submit" value="Guardar" class="btn btn-sm btn-success">
                <a asp-action="Index" class="btn btn-sm btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>