@model Colaborador
@{
    ViewData["Title"] = "Colaboradores - Eliminar";
}

<h1>Eliminar Colaborador</h1>

<div>
    <dl class="row">
        <dt> @Html.DisplayNameFor(model =>  model.NombreCompleto)</dt>
        <dd> @Html.DisplayFor(model =>  model.NombreCompleto)</dd>
    </dl>
</div>

<form asp-action="Eliminar">
    <input type="hidden" asp-asp-for="Id" />
    <input type="submit" value="Eliminar" class="btn btn-sm btn-danger">
    <a asp-action="Index" class="btn btn-sm btn-secondary">Regresar</a>
</form>